target/
.project
.classpath
.settings/
s4hana_pipeline/
.idea/
*.iml
.vscode/
node_modules/
.DS_Store
**/credentials.*
**/node_modules
**/package-lock.json

**/credentials.*
**/target/
/s4hana_pipeline
**/*.log
**/*.trc
**/.settings/
**/.project
**/.classpath
**/.idea
**/*.iml
**/.vscode
**/node_modules
**/.DS_Store
docs/.sass-cache/
docs/_site/